<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Recharge System</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/swiper.min.css" rel="stylesheet" />
    <link href="~/Content/themify-icons.css" rel="stylesheet" />
    @RenderSection("css", required: false);
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">
            <img src="/images/teamlogo.png" alt="Logo" style="width: 40px;">
        </a>
        <a class="navbar-brand" href="#">Centered nav only <span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="@Url.Action("Index","Home")" class="nav-link text-decoration-none">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"></path>
                            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>
                        </svg>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-decoration-none">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"></path>
                        </svg>
                        Recharge
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown08">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
        <a class="nav-fill nav-item nav-link btn btn-danger align-bottom mr-1" href="#">Logout</a>&nbsp;
        <a class="nav-wrapper nav-link btn btn-floating bg-success text-white" href="@Url.Action("Sign_up","Home")">SIGN UP</a>&nbsp;
        <a class="nav-wrapper nav-link btn btn-floating bg-warning" href="@Url.Action("Signin","Home")">SIGN IN</a>
    </div>

    <div>
        @RenderBody()
        <hr />
        <footer class="site-footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="foot-about">
                                <a class="foot-logo" href="#"><img src="" alt=""></a>
                                <p class="footer-copyright">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved by <a href="https://www.venusglobalcampus.com">venusglobalcampus</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div><!-- .foot-about -->
                        </div><!-- .col -->

                        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                            <div class="foot-contact">
                                <h2 id="contactinfo">Contact Us</h2>

                                <ul>
                                    <li>Email: venusglobalcampus@gmail.com</li>
                                    <li>Phone: +91 7358878818 / +91 9944479430</li>
                                    <li>Address: A.P.Nagar, Erode Main Road, Punnamchathiram, Karur - 639136.</li>
                                </ul>
                            </div><!-- .foot-contact -->
                        </div><!-- .col -->

                        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                            <div class="col-md-2"> <a data-scroll="" href="#top" class="btn btn-primary btn-ico btn-lg btn-rounded"><i class="icon-arrow-up2 fs-22"></i></a></div>
                        </div><!-- .col -->

                        <div class="col-12 col-md-6 col-lg-3 mt-5 mt-lg-0">
                            <div class="">
                                <h2>Follow Us</h2>
                                <ul class="flex-wrap align-items-center">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i style="font-size:24px" class="fa bg-danger">&#xf1a0;</i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div><!-- .quick-links -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .footer-widgets -->

            <div class="footer-bar">
                <div class="container">
                    <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-center">
                        <div class="col-12 col-lg-6">
                            <div class="download-apps flex flex-wrap justify-content-center justify-content-lg-start align-items-center">
                                <a href="#"></a>
                                <a href="#"></a>
                            </div><!-- .download-apps -->

                        </div>
                       
                        <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                            <div class="footer-bar-nav">
                                <ul class="flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div><!-- .footer-bar-nav -->
                        </div><!-- .col-12 -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .footer-bar -->
        </footer><!-- .site-footer -->
    </div>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false);
</body>
</html>