@model AdminDashBoard.Models.Transaction

@{
    ViewBag.Title = "DeleteWithId";
    Layout = "~/Views/Shared/_adminLayoutNew.cshtml";
}

    <div class="card shadow mb-5">
        <div class="card-header py-4" style="background-color:#fb3030">
            <h6 class="m-0 font-weight-bold" style="text-align:center; font-weight:bold;color:black"> Are You sure you want to delete this Plan ? </h6>
        </div>

        <div class="form-horizontal">
            <br />
            <h3 class="text-danger" style="text-align:center; font-weight:bold; color:crimson"> Transaction Id -  @Html.DisplayFor(model => model.transaction_id) </h3>
            <br />
            <center>
                <b style="text-align:center;"> Date Time - </b> @Html.DisplayFor(model => model.date_time) <br/>
                
                <b style="text-align:center;"> Phone Number - </b> @Html.DisplayFor(model => model.phone_number)<br />
                
                <b style="text-align:center;"> Status - </b>@Html.DisplayFor(model => model.status) <br />
                
                <b style="text-align:center;"> Operator Name - </b> @Html.DisplayFor(model => model.Operator.operator_name) <br />
                
                <b style="text-align:center;"> Plan Name - </b> @Html.DisplayFor(model => model.Plan.plan_name)
                
                <b style="text-align:center;"> User Name - </b> @Html.DisplayFor(model => model.User.name)

            </center>
        </div>
        

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

    <div class="form-actions no-color" style="text-align:center">
        <br />
        &nbsp; &nbsp;
        <input type="submit" value="Delete" class="btn btn-primary" />
        <br />
        <br />

    </div>
            }
    </div>
